{% extends 'base.html.twig' %}

{% block body %}
<h1>Voici la liste des suites disponible chez {{ etablissement.nom }}</h1>
    {% for suite in etablissement.suites %}
        <ul>
            <li> {{ suite.titre }}</li>
            <li> {{ suite.description }}</li>
            <li> {{ suite.prix }} €</li>
        </ul>
    {% endfor %}

{% endblock %}