{% extends 'base.html.twig' %}

{% block title %}Contactez-nous !{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Demande de Contact</h1>

    {{form(form)}}
</div>

<div>
    {%for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
